@import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;700;800&display=swap');


body {
    height: 100vh;
    --background-base: rgba(17,17,17,0.8);
}


* {
    font-family: 'Inter', sans-serif;
    color: #ffffff;
    overflow: hidden;
    font-weight: normal;
}

#container {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: stretch;
    align-content: flex-start;
    height: 98%;
    margin-bottom: 0.625rem;
    padding: 1.25rem;
    box-sizing: border-box;
    border-radius: 0.625rem;
    overflow: hidden;
    background-color: var(--background-base);
}

#container>div {    
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: flex-start;
}

.message-row {
    flex: 0 0 auto;
    margin-top: 0.625rem;
    padding: 0.5rem 0.625rem;
    vertical-align: baseline;
    border-radius: 0.5rem;
    background-color: var(--background-base);
    display: grid;
    gap: 0.25rem;
    transition: opacity 0.2s ease;
    animation: fadeInRight 0.2s ease;
}

.badge {
    display: inline;
    height: 1.25rem;
    vertical-align: middle;
    flex: none;
}

.user-box {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    align-items: center;
    font-size: 1.25rem;
}

.user-box>span {
    font-size: 1.25rem;
    font-weight: 900;
    flex: none;
}

span.pronoun {
    font-size: 0.875rem;
    font-weight: normal;
    display: inline-block;
    background: #333333;
    vertical-align: middle;
    line-height: 1.25rem;
    border-radius: 1.25rem;
    padding: 0 0.5rem;
}

.user-message {
    display: inline;
    font-size: 1.25rem;
    word-wrap: break-word;
}

.emote {
    height: 1.5rem;
    vertical-align: middle;
    background-repeat: no-repeat;
}

.cheer {
    font-weight: bold;
    font-size: 1rem;
}

.cheer img {
    height: 1.5rem;
    vertical-align: middle;
}

.cheer-1 {
    color: #cbc8d0
}

.cheer-100 {
    color: #ca7fff 
}

.cheer-1000 {
    color: #3ed8b3  
}

.cheer-5000 {
    color: #4aadff   
}

.cheer-10000 {
    color: #ff271e    
}

span.redemption {
    font-weight: normal;
    font-size: 0.875rem;
    color: #adadb8;
    width: 100%;
}

.redemption .title {
    font-weight: bold;
    color: inherit;
    margin-right: 0.25rem;
}

.redemption .cost {
    font-weight: bold;
    color: #fff;
    white-space: nowrap;
}

.redemption .cost::before {
    content: '';
    display: inline-block;
    width: 1rem;
    height: 1rem;
    background-image: url('data:image/svg+xml,<%3Fxml version="1.0" encoding="UTF-8"%3F><svg id="Layer_1" data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16"><path d="m8,4c2.21,0,4,1.79,4,4h-2c0-1.1-.9-2-2-2v-2Z" style="fill: %23fff; stroke-width: 0px;"/><path d="m16,8c0,4.42-3.58,8-8,8S0,12.42,0,8,3.58,0,8,0s8,3.58,8,8Zm-2,0c0,3.31-2.69,6-6,6s-6-2.69-6-6,2.69-6,6-6,6,2.69,6,6Z" style="fill: %23fff; fill-rule: evenodd; stroke-width: 0px;"/></svg>');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 1rem;
    vertical-align: bottom;
    margin-right: 0.25rem;
}

.action {
    font-style: italic;
}

.hidden {
    position: absolute;
    left: -9999px;
    top: -9999px;
    opacity: 0;
}

.zero-width-wrap {
    position: relative;
}

.zero-width-wrap > :nth-child(2) {
    position: absolute;
    top: 0;
    left: 0;
}

.highlight {
    display: inline-block;
    background-color: rgba(117, 94, 188, 0.75);
    padding: 0.25rem 0.5rem;
    border-radius: 0.313rem;
    margin-top: 0.313rem;
}

.fade-out {
    animation: fadeOut 0.5s ease;
    animation-fill-mode: forwards;
}

/* Large Styles */
html:has(#container.large) {
    font-size: 24px;
}

/* Transparent Styles */
#container.transparent {
    background-color: transparent;
}

@keyframes fadeInRight {
    from {
      opacity: 0;
      transform: translate3d(100%, 0, 0);
    }
  
    to {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }

@keyframes fadeOut {
    from {
      opacity: 1;
    }
  
    to {
      opacity: 0;
    }
  }